body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: yellow;
}

.img {
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 20px; /* Adjust margin as needed */
}

/* Additional styling for the content */
p {
    margin-top: 20px; /* Adjust margin as needed */
}
